

<form action="/add" method="POST">
  <p>Titulo: </p>
  <input type="text" name="tit">
  <p>Conteudo: </p>
  <textarea name="cont"></textarea>
  <button type="submit">Cadastra postagem </button>
</form>  